#detect {
    width: 500px;
    height: 500px;
    background-color: #ccc;
}

.box {
    position: absolute;
    padding: 30px;
    left: 560px;
    top: 20px;
    background-color: #4b96e6;
    color: #fff;
}

.box span {
    display: block;
}

.menu {
    background-color: #fff;
    border: 1px solid #eee;
    position: absolute;
    padding: 5px;
}

.menu ul {
    list-style: none;
    padding: 0;
    magin: 0;
}

.menu ul li {
    padding: 0 5px;
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .box {
        left: 150px;
        top: 400px;
    }
}
